{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#jquery_jplayer_1").jPlayer({
      ready: function (event) {
        $(this).jPlayer("setMedia", {
          mp3:"http://127.0.0.1/01 Battery.mp3",
        });
      },
      swfPath: "http://127.0.0.1:5000/static/js",
      supplied: "mp3",
      wmode: "window"
    });
  });
</script>
<style>
.jp-seek-bar {
  background-color: #FFFFFF;
  height: 10px;
}

.jp-play-bar {
  background-color: #FF0000;
  height: 10px;
}

.btn-player {
  margin-right: 10px;
}

.jp-duration {
  margin-right: 10px;
}
</style>
{% endblock %}

{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Webaudio</a>
      <ul class="nav" id="myTab">
        <li><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#search">Search</a></li>
      </ul>

      <!-- JPlayer -->
      <!--<div id="jp_container_1" class="nav">-->
        <ul id="jp_container_1" class="nav">
          <li><button class="btn btn-player jp-play" href="javascript:;"><i class="icon-play"></i></button></li>
          <li><button class="btn btn-player jp-pause" href="javascript:;"><i class="icon-pause"></i></button></li>

          <li><p class="navbar-text jp-current-time"></p></li>
          <li style="width: 150px;"><a href="#"><span class="jp-seek-bar navbar-search" style="width: 100%;"><div class="jp-play-bar"></div></span></a></li>
          <li><p class="navbar-text jp-duration"></p></li>
          <li><button class="btn btn-player jp-mute" href="javascript:;"><i class="icon-volume-off"></i></button></li>
          <li><button class="btn btn-player jp-unmute" href="javascript:;"><i class="icon-volume-up"></i></button></li>
        </ul>
      <!--</div>-->
      
    </div>
  </div>
</div>
<div class="container">
  <div id="myTabContent" class="tab-content">
    <div id="home" class="tab-pane active">
      <table id="playlist" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <script type="text/javascript">
        $(document).ready(function()
          {
            fetch_current_playlist();
          });
      </script>
    </div>
    <div id="search" class="tab-pane">
    
    </div>
  </div>
</div>

<div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;">
{% endblock %}
